:root {
  --brand-color: #57c5a0;
  --accent-color: #f27e4b;
  --black-color: #242424;
  --light-color: #adadad;
  --semi-dark-color: #7e7e7e;
  --dark-color: #2e2e2e;
  --semi-light-color: #d3d3d3;
}
